@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: white;

    .parallax_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;

        ul {
            display: flex;
            list-style-type: none;
            position: relative;
            top: 100px;
            font-size: 1em;
            li {
                margin: 10px;
            resize: 200px;

            }
        }

        .social_icon {
            color: lightgray;
            transition: color 0.2s;
        }

        .social_icon:hover {
            color: rgb(41, 40, 40);
        }
    
        .intro_screen {
            height: 100vh;
            background-color: gray;
            
            background-size: cover;
            flex-direction: column;
            @include align-center;

        
        }
    
        .outro_screen {
            height: 100vh;
            background-color: cyan;
            @include align-center;
        }
    
    
        .parallax_group {
            position: relative;
            height: 125vh;
            transform-style: preserve-3d;

            .parallax_layer {
                position: absolute;
                inset: 0;
                @include align-center;
        
                
            }

            

            .intro_layer {
                transform: translateZ(50px) scale(0.8) translateY(0px);

            }

            .intro_base_layer {
                // transform: translateZ(200px) scale(0.4) translateY(-300px);
                height: 100vh;
                font-size: 2em;
            }
            
            .base_layer{

                // scale calculatrion: 1 + ((Z transform value * -2) / perspective)
                transform: translateY(-100px) scale(1) translateZ(-285px) scale(2);
                @include align-center;
                font-size: 23px;
            }

            .mid_layer {
                transform: translateZ(0);

            }

            .top_layer {
                transform: translateZ(210px) scale(0.3);
            }
        }

        #intro{
            z-index: 0;
        }

    
        #group-1{
            z-index: -1;
        }
    
        #group-1 > .base_layer {
            background-color: crimson;
        }
    
        #group-2{}
    
        #group-2 > .mid_layer {
            background-color: yellowgreen;
        }
    
        #outro{}
}
}


    


 